@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

.font-logo {
    font-family: "Space-Grotesk-Regular";
}

.font-subheader {
    font-family: "Oswald-Regular";
    text-transform: uppercase;
    letter-spacing: 0.5px !important;
}

.font-subheader-semibold {
    font-family: "Oswald-SemiBold";
    text-transform: uppercase;
    letter-spacing: 0.5px !important;
}

.font-button {
    font-family: "Inter-SemiBold";
}

.font-desc {
    font-family: "Inter-Regular";
}

.font-desc-medium {
    font-family: "Inter-Medium";
}

.font-score {
    font-family: "Inter-SemiBold";
}

.font-status {
    font-family: "Oswald-Regular";
    text-transform: uppercase;
    letter-spacing: 0.5px !important;
}

.font-label {
    font-family: "Oswald-SemiBold";
    text-transform: uppercase;
    letter-spacing: 0.5px !important;
}

html, body, #root {
    height: full;
    width: full;
    margin: 0;
    overflow: hidden;
    overscroll-behavior: none;
}
